:root {
  --background-primary: #240046;
  --background-secondary: #3c096c;
  --color-primary: #ff9e00;
  --color-secondary: #ff6d00;
  --color-tertiary: #ff7900;
  --color-quatenary: #7b2cbf;
  --color-quinary: #9d4edd;
}

body {
  background: var(--background-primary);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
